/* import the tangerine font from same folder .\tangerine */
@font-face {
  font-family: "Tangerine";
  src: url("./assets/fonts/tangerine/Tangerine-Regular.ttf");
}

/* reset styles for the webpage */
:root,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* to accomodate the page's dark theme, we will set the text-color universally to a slight offwhite */
  color: #f5f5f5;
}

.content {
  background: url("./assets/images/restaurant.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 100vw;
  height: 100vh;
  display: grid;
  gridtc-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.header {
  /* adjust font size for header */
  font-size: 2rem;
  /* make the background of the header semi-transparent and dark */
  background-color: rgba(0, 0, 0, 0.75);
  /* make the header take up the full width of the page */
  width: 100%;
  /* center the text */
  display: grid;
  grid-template-columns: 1fr 25rem 1fr;
  /* style the rows to be one large over one just large enough for the list */
  grid-template-rows: 1fr 5rem;
}
ul {
  display: flex;
  /* take away the list decoration */
  list-style: none;
}
li {
  /* make the list items inline */
  display: inline;
  /* add some space between the list items */
  margin: 0 1rem;
  /* add some padding so there is spabe between the li and the bottom of the header */
  transition: transform 0.2s ease-in-out;
}
li a {
  /* style the links in the list */
  text-decoration: none;
}
li:hover {
  /* add a transform effect where the hovered link grows slightly and bounces upwards */
  transform: scale(1.1) translateY(-0.5rem);
}
.selected {
  /* style the selected link with a border-bottom */
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 0.5rem;
}
/* position the header h1 and ul to begin in the second column of the grid */
.header h1 {
  /* set the header font size */
  font-size: 7rem;
  /* set t he h1 font to something curvy and evoking fancy italian imagery */
  font-family: "Tangerine", cursive;
  padding-top: 1.5rem;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
}
.header nav {
  grid-column-start: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-view {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-view-content {
  /* set the background of the main view to be semi-transparent and dark */
  background-color: rgba(0, 0, 0, 0.75);
  /* set the width of the main view to be 50% of the page */
  width: 60%;
  /* set the height of the main view to be 50% of the page */
  height: 50%;
  /* add a minor curve border radius */
  border-radius: 5px;
  /* set the border to be 1px solid white */
  border: 1px solid black;
  /* set the padding to be 1rem */
  padding: 1rem;
  /* set the margin to be 1rem */
  margin: 1rem;
  /* set the text-align to be center */
  text-align: center;
  /* line height 1.3 */
  line-height: 1.3rem;
  /* set the font size to be 150% of root */
  font-size: 1.5rem;
}
.main-view-content img {
  max-width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 1rem;
}
.main-view-content p {
  width: 80%;
  margin: 0 auto;
}
footer {
  /* set the background of the footer to be semi-transparent and dark */
  background-color: rgba(0, 0, 0, 0.75);
  /* set the width of the footer to be 100% of the page */
  width: 100%;
  /* set the height of the footer to be 5rem */
  height: 5rem;
  /* set the display to be flex */
  display: flex;
  /* set the justify-content to be center */
  justify-content: center;
  /* set the align-items to be center */
  align-items: center;
  justify-self: flex-end;
}
footer div {
  text-align: center;
}
footer > div > p:nthof-type(1) {
  /* set the font size to be 150% of root */
  font-size: 1.5rem;
  /* set the font family to be Tangerine */
  font-family: "Tangerine", cursive;
}
footer img {
  max-width: 1rem;
  border-radius: 50%;
}
.menu-view {
  width: 60%;
  background: rgba(0, 0, 0, 0.8);
  margin: 1rem auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  overflow: auto;
  max-height: 60vh;
}
.category {
  padding: 1rem;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.category h2 {
  grid-column: 1 / -1;
  font-size: 3.5rem;
  font-family: "Tangerine", cursive;
  margin-block: 1rem;
}
.category h3 {
  font-size: 2.5rem;
  font-family: "Tangerine", cursive;
  margin-block: 1rem;
}
.category li {
  text-align: center;
}
.category ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.contact-view {
  width: 60%;
  background: rgba(0, 0, 0, 0.8);
  margin: 1rem auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  overflow: auto;
  max-height: 60vh;
}
